#root .ql-container {
    border-bottom-left-radius: .75em;
    border-bottom-right-radius: .75em;
    background: #fefcfc;
    border-color: #cdcee1;
}
  
/* Snow Theme */
#root .ql-snow.ql-toolbar {
    display: block;
    background: #E8E9fE;
    border-top-left-radius: .75em;
    border-top-right-radius: .75em;
    border-color: #cdcee1;
}
  
#root .ql-editor {
    height: 18em;
    overflow-y: auto;
}

.ql-snow .ql-tooltip[data-mode=image]::before {
    content: "Enter image URL:";
}

.ql-tooltip {
    left: 0 !important;
    top: 0 !important;
    transform: translateY(0) !important;
    margin: 1em;
    padding: .7em 1.6em !important;
    border-radius: .5em;
    font-weight: 400 !important;
    color: #2E3059 !important;
    background-color: #E8E9FE !important;
    border: 1px solid #cdcee1 !important;
    box-shadow: none !important;
}

.ql-tooltip input {
    border: 2px solid transparent !important;
    border-radius: .5em;
    padding: 1.4em 1em !important;
}
  
.ql-tooltip input:focus {
    outline: none !important;
    border: 2px solid #3b91e7 !important;
    box-shadow: none;
}

.ql-toolbar .ql-stroke {
    fill: none;
    stroke: #2E3059;
}

.ql-toolbar .ql-fill {
    fill: #2E3059;
    stroke: none;
}

.ql-toolbar .ql-picker {
    color: #2E3059;
}