#root .ql-container {
    border-bottom-left-radius: .75em;
    border-bottom-right-radius: .75em;
    background: #fefcfc;
    border-color: #cdcee1;
}
  
/* Snow Theme */
#root .ql-snow.ql-toolbar {
    display: block;
    background: #E8E9fE;
    border-top-left-radius: .75em;
    border-top-right-radius: .75em;
    border-color: #cdcee1;
}
  
#root .ql-editor {
    height: 18em;
    overflow-y: auto;
}
  
.ql-toolbar .ql-stroke {
    fill: none;
    stroke: #2E3059;
}

.ql-toolbar .ql-fill {
    fill: #2E3059;
    stroke: none;
}

.ql-toolbar .ql-picker {
    color: #2E3059;
}